<%= image_tag 'pets.png', :align => 'right', :style => 'position:relative;right:30px;' %>
<h2><%= t :welcome %></h2>

<ul>
  <li><%= link_to 'List owners', owners_path  %></li>
  <li><%= link_to 'Find owner', search_owners_path  %></li>
  <li><%= link_to 'Display all veterinarians', vets_path  %></li>
  <li><%= link_to 'Tutorial', 'tutorial.html' %></li>
</ul>

<p>&nbsp;</p>
<p>&nbsp;</p>
